body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke
  }
  
  h2 {
    text-align: center;
    color: #007bff;
  }

  .guide{
    text-align: center;
    color: #007bff;
    font-size: small;
  }
  form {
    margin: 0 auto;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #007bff;
  }
  
  input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    
  }
 
  
  #results {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: #007bff;
  }
  